* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0px 0px;
}

.login_desk {
  display: block;
  height: 100vh;
  width: 100%;
  background-image: url("..\\img\\Bg-desk.png");
  background-size: cover;
}

.login_mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .login_mobile {
    display: block;
    height: 100vh;
    width: 100%;
    background-image: url("..\\img\\Bg-ground.png");
    background-size: contain;
  }

  #login {
    position: absolute;
    left: 4%;
    top: 12%;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    text-decoration-line: underline;
  }

  #email {
    position: absolute;
    left: 4%;
    top: 22%;
    margin-top: 2%;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3a5163;
  }

  #email_input {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 4%;
    top: 25.5%;

    background: #ebf8fb;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  #password {
    position: absolute;
    left: 4%;
    top: 32%;
    margin-top: 2%;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3a5163;
  }

  #password_input {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 4%;
    top: 35.5%;

    background: #ebf8fb;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  #login_btn {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 246px;
    top: 730px;

    background: #ffffff;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .login_desk {
    display: none;
  }
}
