html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    font-family: "Nunito", cursive;
}

body {
    background-image: url("../img/WebBg.png");
    background-size: contain;
}

body,
html,
#category,
#category1,
#category2,
#phrases,
#movies,
#songs,
#challenge,
#introPage,
#introText,
#introText p,
#sp,
#mp,
#sp1,
#mp1,
#multiPage,
#singlePage #wordWrap,
#wordWrap div,
#restriction,
#gamePage,
#letterBank div,
#challengeBank div,
#videoPage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#introPage,
#singlePage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#introPage {
    display: block;
    height: 90vh;
    width: 50%;
}

#introText {
    width: 45%;
    height: 10vh;
    margin: 10px auto;
}

#introText p {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto 10px auto;
}

#buttonContainer {
    width: 50%;
    height: 7vh;
    margin: 7vh auto;
}

#sp {
    font-size: 30px;
    font-weight: 400;
    width: 30%;
    height: 6vh;
    margin: auto;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: #00006c;
    border-radius: 20px;
    cursor: pointer;
}

#gamePage {
    display: none;
    text-align: center;
}

.questionBox {
    height: 20vh;
    width: 60%;
    margin: 2vh auto 2vh auto;
    border-radius: 40px;
    background-color: rgba(211, 211, 211, 0.2);
}

#homeHangman {
    display: block;
    height: 50vh;
    margin: 0 auto 0 auto;
}

#hangman {
    display: block;
    height: 40vh;
    margin: 0 auto 0 auto;
}

#wordWrap {
    display: inline-block;
    width: 830px;
    margin: 0 auto;
    padding: 10px;
}

#letter1,
#letter2,
#letter3,
#letter4,
#letter5,
#letter6,
#letter7,
#letter8,
#letter9,
#letter10,
#letter11,
#letter12,
#letter13,
#letter14,
#letter15,
#letter16,
#letter17,
#letter18,
#letter19,
#letter20,
#letter21,
#letter22,
#letter23,
#letter24,
#letter25,
#letter26,
#letter27,
#letter28,
#letter29,
#letter30,
#letter31,
#letter32,
#letter33,
#letter34,
#letter35,
#letter36,
#letter37,
#letter38,
#letter39,
#letter40 {
    width: 50px;
    height: 60px;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
}

#underline1,
#underline2,
#underline3,
#underline4,
#underline5,
#underline6,
#underline7,
#underline8,
#underline9,
#underline10,
#underline11,
#underline12,
#underline13,
#underline14,
#underline15,
#underline16,
#underline17,
#underline18,
#underline19,
#underline20,
#underline21,
#underline22,
#underline23,
#underline24,
#underline25,
#underline26,
#underline27,
#underline28,
#underline29,
#underline30,
#underline31,
#underline32,
#underline33,
#underline34,
#underline35,
#underline36,
#underline37,
#underline38,
#underline39,
#underline40 {
    display: none;
    float: left;
    width: 50px;
    height: 60px;
    margin-right: 5px;
}

#letterBank {
    width: 40%;
    height: 20vh;
    margin: 20px auto;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#letterFirstrow div,
#letterSecondrow div,
#letterThirdrow div {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
}

#letterFirstrow div:hover {
    background-color: #d3d3d3;
}

#letterSecondrow div:hover {
    background-color: #d3d3d3;
}

#letterThirdrow div:hover {
    background-color: #d3d3d3;
}

#letterFirstrow div:active {
    background-color: #d3d3d3;
    width: 50px;
    font-size: 45px;
    padding-top: 3px;
}

#letterSecondrow div:active {
    background-color: #d3d3d3;
    width: 50px;
    font-size: 45px;
    padding-top: 3px;
}

#letterThirdrow div:active {
    background-color: #d3d3d3;
    width: 50px;
    font-size: 45px;
    padding-top: 3px;
}

#results {
    margin-top: 5px;
    height: 70px;
    visibility: hidden;
    line-height: 70px;
}

#again,
#home,
#home1 {
    display: none;
    width: 40%;
    height: 5vh;
    margin: 10px auto;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #00006c;
    border-radius: 25px;
    cursor: pointer;
}

#home {
    margin-top: 0px;
}

@media (max-width: 866px) {
    body {
        background-image: url("../img/mobilebg-01.png");
    }
    #introPage,
    #singlePage,
    #multiPage,
    #videoPage {
        width: 700px;
        height: 700px;
    }
    #introText {
        width: 350px;
        height: 110px;
    }
    #introText p,
    #multiText p {
        font-size: 25px;
        margin: 10px auto;
    }
    #buttonContainer {
        width: 500px;
        height: 60px;
        margin: 20px auto;
    }
    #sp {
        font-size: 25px;
        width: 175px;
        height: 60px;
        line-height: 60px;
    }
    #sp1 {
        margin: 25px 10px auto auto;
    }
    #mp1 {
        margin: 40px 10px auto auto;
    }
    #homeHangman {
        margin: 100px auto 0 auto;
    }
    #singlePage {
        height: 345px;
    }
    #singlePage p {
        font-size: 30px;
        margin: 0px auto 20px auto;
    }
    #categoryName {
        margin: 0 auto;
        font-size: 30px;
    }
    #wordWrap {
        display: inline-block;
        width: 470px;
        margin: 0 auto;
        padding: 0px;
    }
    #letter1,
    #letter2,
    #letter3,
    #letter4,
    #letter5,
    #letter6,
    #letter7,
    #letter8,
    #letter9,
    #letter10,
    #letter11,
    #letter12,
    #letter13,
    #letter14,
    #letter15,
    #letter16,
    #letter17,
    #letter18,
    #letter19,
    #letter20,
    #letter21,
    #letter22,
    #letter23,
    #letter24,
    #letter25,
    #letter26,
    #letter27,
    #letter28,
    #letter29,
    #letter30,
    #letter31,
    #letter32,
    #letter33,
    #letter34,
    #letter35,
    #letter36,
    #letter37,
    #letter38,
    #letter39,
    #letter40,
    #letter41,
    #letter42,
    #letter43,
    #letter44,
    #letter45,
    #letter46,
    #letter47,
    #letter48,
    #letter49,
    #letter50,
    #letter51,
    #letter52,
    #letter53,
    #letter54,
    #letter55,
    #letter56,
    #letter57,
    #letter58,
    #letter59,
    #letter60,
    #letter61,
    #letter62,
    #letter63,
    #letter64,
    #letter65,
    #letter66,
    #letter67,
    #letter68,
    #letter69,
    #letter70,
    #letter71,
    #letter72,
    #letter73,
    #letter74,
    #letter75,
    #letter76,
    #letter77,
    #letter78,
    #letter79,
    #letter80,
    #letter81,
    #letter82,
    #letter83,
    #letter84,
    #letter85,
    #letter86,
    #letter87,
    #letter88,
    #letter89,
    #letter90,
    #letter91,
    #letter92,
    #letter93,
    #letter94,
    #letter95,
    #letter96,
    #letter97,
    #letter98,
    #letter99,
    #letter100 {
        width: 28px;
        height: 45px;
        font-size: 30px;
        line-height: 45px;
    }
    #underline1,
    #underline2,
    #underline3,
    #underline4,
    #underline5,
    #underline6,
    #underline7,
    #underline8,
    #underline9,
    #underline10,
    #underline11,
    #underline12,
    #underline13,
    #underline14,
    #underline15,
    #underline16,
    #underline17,
    #underline18,
    #underline19,
    #underline20,
    #underline21,
    #underline22,
    #underline23,
    #underline24,
    #underline25,
    #underline26,
    #underline27,
    #underline28,
    #underline29,
    #underline30,
    #underline31,
    #underline32,
    #underline33,
    #underline34,
    #underline35,
    #underline36,
    #underline37,
    #underline38,
    #underline39,
    #underline40,
    #underline41,
    #underline42,
    #underline43,
    #underline44,
    #underline45,
    #underline46,
    #underline47,
    #underline48,
    #underline49,
    #underline50,
    #underline51,
    #underline52,
    #underline53,
    #underline54,
    #underline55,
    #underline56,
    #underline57,
    #underline58,
    #underline59,
    #underline60,
    #underline61,
    #underline62,
    #underline63,
    #underline64,
    #underline65,
    #underline66,
    #underline67,
    #underline68,
    #underline69,
    #underline70,
    #underline71,
    #underline72,
    #underline73,
    #underline74,
    #underline75,
    #underline76,
    #underline77,
    #underline78,
    #underline79,
    #underline80,
    #underline81,
    #underline82,
    #underline83,
    #underline84,
    #underline85,
    #underline86,
    #underline87,
    #underline88,
    #underline89,
    #underline90,
    #underline91,
    #underline92,
    #underline93,
    #underline94,
    #underline95,
    #underline96,
    #underline97,
    #underline98,
    #underline99,
    #underline100 {
        width: 28px;
        height: 45px;
        margin-right: 3px;
    }
    #hangman {
        margin: 20px auto 0 auto;
    }
    #letterBank {
        position: relative;
        top: 15vh;
        width: 60%;
        height: 16vh;
        font-size: 35px;
        line-height: 45px;
    }
    #letterBank div,
    #challengeBank div {
        width: 44px;
        height: 44px;
        margin: 0px 3.5px 5px 0px;
    }
    #letterBank div:active,
    #challengeBank div:active {
        width: 44px;
        font-size: 27px;
        padding-top: 0px;
        padding-bottom: 3px;
    }
    #results {
        margin-top: 5px;
        height: 50px;
        visibility: hidden;
        line-height: 70px;
    }
}

@media (max-width: 500px) {
    #introPage,
    #singlePage,
    #multiPage,
    #videoPage {
        height: 100%;
        width: 100%;
        min-width: 365px;
    }
    #introPage {}
    #introText {
        width: 100%;
    }
    #introText p,
    #multiText p {
        font-size: 18px;
    }
    #buttonContainer {
        width: 90%;
        height: 50px;
    }
    #sp,
    #mp,
    #sp1,
    #mp1 {
        font-size: 20px;
        width: 140px;
        height: 50px;
        line-height: 50px;
    }
    #sp1 {
        margin: 20px 10px auto auto;
    }
    #mp1 {
        margin: 30px 10px auto auto;
    }
    #homeHangman {
        margin: 70px auto 0 auto;
    }
    #singlePage {
        height: 320px;
    }
    #categoryHolder {
        margin: 0 auto;
        width: 90%;
        height: 180px;
    }
    #singlePage p {
        font-size: 25px;
    }
    #multiPage {
        height: 330px;
    }
    #multiText p {
        font-size: 16px;
    }
    #input {
        padding: 5px;
        font-size: 15px;
    }
    #restriction {
        right: 85px;
        bottom: 15px;
        font-size: 10px;
    }
    #characterCount {
        width: 90%;
        height: 25px;
        font-size: 15px;
    }
    #submit {
        font-size: 20px;
        width: 150px;
        height: 25px;
        line-height: 25px;
    }
    #gamePage {
        min-width: 365px;
    }
    #categoryName {
        font-size: 30px;
    }
    #wordWrap {
        width: 320px;
        margin-top: 10px;
        padding: 0px;
    }
    #letter1,
    #letter2,
    #letter3,
    #letter4,
    #letter5,
    #letter6,
    #letter7,
    #letter8,
    #letter9,
    #letter10,
    #letter11,
    #letter12,
    #letter13,
    #letter14,
    #letter15,
    #letter16,
    #letter17,
    #letter18,
    #letter19,
    #letter20,
    #letter21,
    #letter22,
    #letter23,
    #letter24,
    #letter25,
    #letter26,
    #letter27,
    #letter28,
    #letter29,
    #letter30,
    #letter31,
    #letter32,
    #letter33,
    #letter34,
    #letter35,
    #letter36,
    #letter37,
    #letter38,
    #letter39,
    #letter40,
    #letter41,
    #letter42,
    #letter43,
    #letter44,
    #letter45,
    #letter46,
    #letter47,
    #letter48,
    #letter49,
    #letter50,
    #letter51,
    #letter52,
    #letter53,
    #letter54,
    #letter55,
    #letter56,
    #letter57,
    #letter58,
    #letter59,
    #letter60,
    #letter61,
    #letter62,
    #letter63,
    #letter64,
    #letter65,
    #letter66,
    #letter67,
    #letter68,
    #letter69,
    #letter70,
    #letter71,
    #letter72,
    #letter73,
    #letter74,
    #letter75,
    #letter76,
    #letter77,
    #letter78,
    #letter79,
    #letter80,
    #letter81,
    #letter82,
    #letter83,
    #letter84,
    #letter85,
    #letter86,
    #letter87,
    #letter88,
    #letter89,
    #letter90,
    #letter91,
    #letter92,
    #letter93,
    #letter94,
    #letter95,
    #letter96,
    #letter97,
    #letter98,
    #letter99,
    #letter100 {
        width: 18px;
        height: 30px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }
    #underline1,
    #underline2,
    #underline3,
    #underline4,
    #underline5,
    #underline6,
    #underline7,
    #underline8,
    #underline9,
    #underline10,
    #underline11,
    #underline12,
    #underline13,
    #underline14,
    #underline15,
    #underline16,
    #underline17,
    #underline18,
    #underline19,
    #underline20,
    #underline21,
    #underline22,
    #underline23,
    #underline24,
    #underline25,
    #underline26,
    #underline27,
    #underline28,
    #underline29,
    #underline30,
    #underline31,
    #underline32,
    #underline33,
    #underline34,
    #underline35,
    #underline36,
    #underline37,
    #underline38,
    #underline39,
    #underline40,
    #underline41,
    #underline42,
    #underline43,
    #underline44,
    #underline45,
    #underline46,
    #underline47,
    #underline48,
    #underline49,
    #underline50,
    #underline51,
    #underline52,
    #underline53,
    #underline54,
    #underline55,
    #underline56,
    #underline57,
    #underline58,
    #underline59,
    #underline60,
    #underline61,
    #underline62,
    #underline63,
    #underline64,
    #underline65,
    #underline66,
    #underline67,
    #underline68,
    #underline69,
    #underline70,
    #underline71,
    #underline72,
    #underline73,
    #underline74,
    #underline75,
    #underline76,
    #underline77,
    #underline78,
    #underline79,
    #underline80,
    #underline81,
    #underline82,
    #underline83,
    #underline84,
    #underline85,
    #underline86,
    #underline87,
    #underline88,
    #underline89,
    #underline90,
    #underline91,
    #underline92,
    #underline93,
    #underline94,
    #underline95,
    #underline96,
    #underline97,
    #underline98,
    #underline99,
    #underline100 {
        width: 18px;
        height: 30px;
        margin-right: 3px;
    }
    #letterBank {
        position: relative;
        top: 24vh;
        margin: 0 4% 0 4%;
        width: 92%;
        height: 15vh;
        font-size: 25px;
        line-height: 40px;
    }
    #letterBank div {
        width: 40px;
        height: 40px;
        margin: 0px 5px 10px 0px;
    }
    #letterBank div:active {
        width: 41px;
        font-size: 25px;
        padding-top: 0px;
        padding-bottom: 3px;
    }
    #results {
        margin-top: 5px;
        height: 40px;
    }
}

@media (max-width: 450px) {
    #restriction {
        right: 60px;
        bottom: 15px;
        font-size: 10px;
    }
}